<%- include("../partials/html-head")  %> 
<%- include("../partials/nav")  %> 

<main>
  <br>
  <div class="card text-center">
    <div class="card-body">
      <form action=<%=`/profile/${profile._id}?_method=PUT` %> method="POST">
        <h1>Update Profile</h1>
        <h3> Name: </h3>
        <input type="text" name="name" value="<%= profile.name %>">
        <h3> Email: </h3>
        <input type="email" name="email" value="<%= profile.email %>">
        <h3> Phone Number: </h3>
        <input type="tel" name="phoneNum" value="<%= profile.phoneNum %>">
        <h3> Preferred Positions: </h3>
        <input type="text" name="preferredPositions" value="<%= profile.preferredPositions %>">
        <br>
        <br>
        <button class="btn btn-dark" type="submit"> Save Changes </button>
      </form>
    </div>
  </div>


  
</main>

<%- include("../partials/footer")  %> 