<%- include("../partials/html-head")  %> 
<%- include("../partials/nav")  %> 

<main>
  <% if (profile !== null) { %>
    <h1>Profile</h1>
    <h3> Name: </h3>
    <p><%= profile.name %> </p>
    <h3> Email: </h3>
    <p><%= profile.email %> </p>
    <h3> Teams: </h3>
    <% if (profile.teams.length > 0) { %>
      <% profile.teams.forEach(team => { %>
        <p> <%= team.name %>  </p>
      <% }) %>
    <% } else{ %>
      <p> You are not a part of any team yet</p>
    <% } %>
    <form action=<%=`/profile/${profile._id}/edit` %> method="GET">
      <button> Update Profile </button>
    </form>
    <br>
    <form action="/teams/new" method="GET">
      <button> Start a Team </button>
    </form>
  <% }else{ %>
    <h1>User is not signed in</h1>
  <% } %>
</main>

<%- include("../partials/footer")  %> 