<%- include("../partials/html-head")  %> 
<%- include("../partials/nav")  %> 

<main>
  <h1> <%=team.name%> </h1>
  <table>
    <thead>
      <tr>
        <th> Player </th>
        <th> Role </th>
        <th> Details </th>
        <th> Remove </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> <%= team.captain.name %> </td>
        <td> Captain </td>
        <td> 
          <a href= <%=`/profile/${team.captain._id}`%>>Info</a>  
        </td>
      </tr>
      <% team.players.forEach(player => { %>
        <tr>
          <td> <%= player.name %> </td>
          <td> Player </td>
          <td> 
            <a href= <%=`/profile/${player._id}`%>>Info</a>  
          </td>
          <td><form action="/teams/<%=team._id%>/<%=player._id%>/leave?_method=PATCH" method="POST">
            <button type="submit"> X</button>
          </form></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
  <% if (user){ %>
    <% if (user.playerProfile._id.equals(team.captain._id)){ %>
      <p>You are captain of this team!</p>
      <form action="/teams/<%=team._id%>?_method=PUT" method="POST">
        <button type="submit"> Save </button>
      </form>
      <br>
      <form action="/teams/<%=team._id%>?_method=DELETE" method="POST">
        <button type="submit"> Delete Team</button>
      </form>
    <% } else if (userInTeam) { %>
      <p> You are a player in this team!</p>
    <% } else { %>
      <form action="/teams/<%=team._id%>?_method=PATCH" method="POST">
        <button type="submit"> Join Team</button>
      </form>
    <% } %>
  <% } %>
</main>