<%- include("../partials/html-head")  %> 
<%- include("../partials/nav")  %> 

<main>
  <br>
  <div class="card text-center w-50" style="min-width:380px;">
    <div class="card-body">
      <h1> <%=team.name%> </h1>
  <table>
    <thead>
      <tr>
        <th> Player </th>
        <th> Role </th>
        <th> Remove </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> <%= team.captain.name %> </td>
        <td> Captain </td>
      </tr>
      <% team.players.forEach(player => { %>
        <tr>
          <td> <%= player.name %> </td>
          <td> Player </td>
          <td><form action="/teams/<%=team._id%>/<%=player._id%>/leave?_method=PATCH" method="POST">
            <button class="btn btn-danger" type="submit"> X</button>
          </form></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
  <% if (user){ %>
    <% if (user.playerProfile._id.equals(team.captain._id)){ %>
      <p>You are captain of this team!</p>
      <form action="/teams/<%=team._id%>" method="GET">
        <button class="btn btn-dark" type="submit"> Save </button>
      </form>
      <br>
      <form action="/teams/<%=team._id%>?_method=DELETE" method="POST">
        <button class="btn btn-danger" type="submit"> Delete Team</button>
      </form>
    <% } else if (userInTeam) { %>
      <p> You are a player in this team!</p>
    <% } else { %>
      <form action="/teams/<%=team._id%>?_method=PATCH" method="POST">
        <button class="btn btn-light" type="submit"> Join Team</button>
      </form>
    <% } %>
  <% } %>
    </div>
  </div>
  
</main>

<%- include("../partials/footer")  %>