<%- include("../partials/html-head")  %> 
<%- include("../partials/nav")  %> 

<main>
  <h1>Teams </h1>
  <% teams.forEach(team => { %>
    <a href="/teams/<%=team._id%>">
      <div class="card text-center">
        <div class="card-body">
          <h2 class="card-title"> <%= team.name %></h2>
          <h4 class="card-subtitle text-muted" >Roster</h4>
          <table>
            <thead>
              <tr>
                <th> Player </th>
                <th> Role </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td> <%= team.captain.name %> </td>
                <td> Captain </td>
              </tr>
              <% let userInTeam = false%>
              <% team.players.forEach(player => { %>
                <% if (user) { %>
                  <% if (player._id.equals(user.playerProfile._id)){ %>
                    <% userInTeam = true %>
                  <%} %>
                <% } %>
                <tr>
                  <td> <%= player.name %> </td>
                  <td> Player </td>
                </tr>
              <% }) %>
            </tbody>
          </table>
          <% if (user){ %>
            <% if (user.playerProfile._id.equals(team.captain._id)){ %>
              <p>You are captain of this team!</p>
            <% } else if (userInTeam) { %>
              <p> You are a player in this team!</p>
            <% } else { %>
              <form action="/teams/<%=team._id%>/<%=user.playerProfile._id%>/join?_method=PATCH" method="POST">
                <button type="submit"> Join Team</button>
              </form>
            <% } %>
          <% } %>
        </div>
      </div>
    </a>
  <% }) %>
</main>

<%- include("../partials/footer")  %> 