<%- include("../partials/html-head")  %> 
<%- include("../partials/nav")  %> 

<main>
  <h1>Teams </h1>
  <% teams.forEach(team => { %>
    <h2> <%= team.name %> </h2>
    <table>
      <thead>
        <tr>
          <th> Player </th>
          <th> Role </th>
          <th> Details</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> <%= team.captain.name %> </td>
          <td> Captain </td>
          <td> 
            <a href= <%=`/profile/${team.captain._id}`%>>Info</a>  
          </td>
        </tr>
        <% team.players.forEach(player => { %>
          <tr>
            <td> <%= player.name %> </td>
            <td> Player </td>
            <td> 
              <a href= <%=`/profile/${player._id}`%>>Info</a>  
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
    <% if (user) { %>
      <form action="/teams/<%=team._id%>?_method=PATCH" method="POST">
        <button type="submit"> Join Team</button>
      </form>
    <% } %>
    <h4> Team Schedule </h4>
  <% }) %>
</main>

<%- include("../partials/footer")  %> 