<%- include("../partials/html-head")  %> 
<%- include("../partials/nav")  %> 

<main>
  <h1> <%=team.name%> </h1>
  <table>
    <thead>
      <tr>
        <th> Player </th>
        <th> Role </th>
      </tr>
    </thead>
    <tbody>
      <a href="/profiles/<%=team.captain._id%>">
        <tr>
          <td> <%= team.captain.name %> </td>
          <td> Captain </td>
        </tr>
      </a>
      <% let userInTeam = false%>
      <% team.players.forEach(player => { %>
        <% if (user) { %>
          <% if (player._id.equals(user.playerProfile._id)){ %>
            <% userInTeam = true %>
          <%} %>
        <% } %>
        <tr>
          <a href="/profile/<%=player._id%>">
            <td> <%= player.name %> </td>
            <td> Player </td>
          </a>
        </tr>
      <% }) %>
    </tbody>
  </table>
  <% if (user){ %>
    <% if (user.playerProfile._id.equals(team.captain._id)){ %>
      <p>You are captain of this team!</p>
      <form action="/teams/<%=team._id%>/edit" method="GET">
        <button type="submit"> Edit Team</button>
      </form>
    <% } else if (userInTeam) { %>
      <p> You are a player in this team!</p>
      <form action="/teams/<%=team._id%>/<%=user.playerProfile._id%>/leave?_method=PATCH" method="POST">
        <button type="submit"> Leave Team</button>
      </form>
    <% } else { %>
      <form action="/teams/<%=team._id%>/<%=user.playerProfile._id%>/join?_method=PATCH" method="POST">
        <button type="submit"> Join Team</button>
      </form>
    <% } %>
  <% } %>
</main>

<%- include("../partials/footer")  %> 