<%- include("../partials/html-head")  %> 
<%- include("../partials/nav")  %> 

<main>
  <br>
  <div class="card text-center">
    <div class="card-body">
      <h2>Announcements</h2>
      <% if (user) { %>
        <form action="announcements/new" method="get">
          <button class="btn btn-dark"type="submit">Make an Announcement</button>
        </form>
      <% } %>
    </div>
  </div>
  <br>
  <% announcements.forEach(announce => { %>
    <a href="announcements/<%=announce._id%>"> 
      <div class="card">
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p> <%= announce.message %> </p>
            <footer class="blockquote-footer">From <%= announce.author.name %> to <%=announce.forTeam.name%></footer>
          </blockquote>
        </div>
      </div>
    </a>
    <br>
  <% }) %>
</main>

<%- include("../partials/footer")  %> 
