<%- include("../partials/html-head")  %> 
<%- include("../partials/nav")  %> 

<main>
  <h2>New Announcement</h2>
  <form action="/" method="post">

    <label>
      For a Team?
      <select name="forTeam">
        <% teams.forEach(team => { %>
          <option value="<%=team._id%>"><%=team.name%></option>
          <% }) %>
        </select>
      </label>
      <br>
      <label>
        Announcement Text
        <input type="text" name="message">
      </label>
      <br>
      <button type="submit">Send Announcement</button>
    </form>
    </main>
    
<%- include("../partials/footer")  %> 