<%- include("../partials/html-head")  %> 
<%- include("../partials/nav")  %> 

<main>
  <br>
  <div class="card text-center w-50 animate__animated animate__zoomIn" style="min-width:380px;">
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <h3> <%= announce.message %> </h3>
        <br>
        <footer class="blockquote-footer">From <%= announce.author.name %> to <%=announce.forTeam.name%></footer>
      </blockquote>
      <br>
      <% if (user.playerProfile._id.equals(announce.author._id)) { %>
        <form action="/announcements/<%=announce._id%>?_method=DELETE" method="post">
          <button class="btn btn-danger"type="submit">Delete</button>
        </form>
      <% } %>
    </div>
  </div>




</main>

<%- include("../partials/footer")  %> 
