<%- include("../partials/html-head")  %> 
<%- include("../partials/nav")  %> 

<main>
  <br>
  <div class="card text-center w-50" style="min-width:380px;">
    <div class="card-body">
      <h1>Update Score</h1>
      <h4><%= game.awayTeam.name %> at <%= game.homeTeam.name %> </h4>
      <h5> <%= game.time.toDateString()%> </h5>
      <form action="/games/<%= game._id %>?_method=PATCH" method="POST">
        <label> Away Team
          <input style="width:100px" type="number" name="away" min="0" max="99" placeholder="<%= game.awayTeam.name %>">
        </label>
        <br>
        <label> Home Team
          <input style="width:100px" type="number" name="home" min="0" max="99" placeholder="<%= game.homeTeam.name %>">
        </label>
        <br>
        <button class="btn btn-dark" type="submit">Update Game</button>
      </form>
    </div>
  </div>
</main>

<%- include("../partials/footer")  %> 