<%- include("../partials/html-head")  %> 
<%- include("../partials/nav")  %> 

<main>
  <h1>Update Score</h1>
  <h4><%= game.awayTeam.name %> at <%= game.homeTeam.name %> </h4>
  <form action="/games/<%= game._id %>?_method=PATCH" method="POST">
    <label> Home Team
      <input type="number" name="home">
    </label>
    <label> Away Team
      <input type="number" name="away">
    </label>
    <br>
    <button type="submit">Update Game</button>
  </form>
</main>

<%- include("../partials/footer")  %> 