<%- include("../partials/html-head")  %> 
<%- include("../partials/nav")  %> 

<main>
  <h1>Games</h1>
  <% games.forEach(game => { %>
    <a href="/games/<%= game._id %>">
      <div class="card text-center">
        <div class="card-body">
          <h4> <%= game.awayTeam.name %> at <%= game.homeTeam.name %>  </h4>
          <p> <%= game.time.toString().slice(0,21) %></p>
          <% if (user) { %>
            <% if (game.score === "") { %>
              <form action="/games/<%=game._id%>/edit" method="GET">
                <button class="btn btn-dark" type="submit">Add Score</button>
              </form>
              <br>
            <% } else {%>
              <h5><%= game.score %> </h5>
            <% } %>
          <% } %>
        </div>
      </div>
    </a>
    <br>
  <% }) %>
  <br>
  <% if (user) { %>
    <form action="games/new" method="get">
      <button class="btn btn-dark" type="submit">Add Game</button>
    </form>
  <% } %>
</main>

<%- include("../partials/footer")  %> 