<%- include("../partials/html-head")  %> 
<%- include("../partials/nav")  %> 

<main>
  <br>
  <div class="card text-center w-50 animate__animated animate__zoomIn" style="min-width:380px;">
    <div class="card-body">
      <h1>Games</h1>
      <p>  Total Games: <%= games.length %> </p>
    </div>
  </div>
  <br>
  <% games.forEach(game => { %>
    <div class="card text-center w-50 animate__animated animate__zoomIn" style="min-width:380px;">
      <a href="/games/<%= game._id %>">
        <div class="card-body">
          <h4> <%= game.awayTeam.name %> at <%= game.homeTeam.name %>  </h4>
          <p> <%= game.time.toString().slice(0,21) %></p>
          <% if (game.score === "") { %>
            <% if (user) { %>
              <form action="/games/<%=game._id%>/edit" method="GET">
                <button class="btn btn-dark" type="submit">Add Score</button>
              </form>
              <br>
            <% } %>
          <% } else {%>
            <h5><%= game.score %> </h5>
          <% } %>
        </div>
      </a>
    </div>
    <br>
  <% }) %>
  <% if (user) { %>
    <form action="games/new" method="get">
      <button class="btn btn-dark" type="submit">Add Game</button>
    </form>
  <% } %>
</main>

<%- include("../partials/footer")  %> 