<%- include("../partials/html-head")  %> 
<%- include("../partials/nav")  %> 

<main>
  <h1>Games</h1>
  <% games.forEach(game => { %>
    <h4> <a href="/games/<%= game._id %>"><%= game.awayTeam.name %> at <%= game.homeTeam.name %></a>  </h4>
    <p> <%= game.time %></p>
    <% if (user) { %>
      <% if (game.score === "") { %>
        <form action="/games/<%=game._id%>/edit" method="GET">
          <button type="submit">Add Score</button>
        </form>
        <br>
      <% } %>
      <form action="/games/<%=game._id%>?_method=DELETE" method="POST">
        <button type="submit">Delete Game</button>
      </form>
    <% } %>
  <% }) %>
  <br>
  <% if (user) { %>
    <form action="games/new" method="get">
      <button type="submit">Add Game</button>
    </form>
  <% } %>
</main>

<%- include("../partials/footer")  %> 