<%- include("../partials/html-head")  %> 
<%- include("../partials/nav")  %> 

<main>
  <h1>Games</h1>
  <% games.forEach(game => { %>
    <h4> <a href="/games/<%= game._id %>"><%= game.awayTeam.name %> at <%= game.homeTeam.name %></a>  </h4>
    <p> <%= game.time.toString() %></p>
    <% if (user) { %>
      <% if (game.score === "") { %>
        <form action="/games/<%=game._id%>/edit" method="GET">
          <button class="btn btn-light" type="submit">Add Score</button>
        </form>
        <br>
      <% } else {%>
        <h5><%= game.score %> </h5>
      <% } %>
    <% } %>
    <br>
  <% }) %>
  <br>
  <% if (user) { %>
    <form action="games/new" method="get">
      <button class="btn btn-dark" type="submit">Add Game</button>
    </form>
  <% } %>
</main>

<%- include("../partials/footer")  %> 