<%- include("../partials/html-head")  %> 
<%- include("../partials/nav")  %> 

<main>
<h2><%= game.awayTeam.name %> at <%= game.homeTeam.name %> </h2>
<p> <%= game.time.toString().slice(0,21)%></p>
<% if (game.score === "") { %>
  <% if (user) { %>
    <form action="/games/<%=game._id%>/edit" method="GET">
      <button class="btn btn-light" type="submit">Add Score</button>
    </form>
    <br>
  <% } %>
  <% } else {%>
    <p><%= game.score %> </p>
    <% if (user) { %>
      <form action="/games/<%=game._id%>/edit" method="GET">
        <button class="btn btn-light" type="submit">Change Score</button>
      </form>
      <br>
    <% } %>
  <%}%>

<% if (user) { %>
  <form action="/games/<%=game._id%>?_method=DELETE" method="POST">
    <button class="btn btn-danger" type="submit">Delete Game</button>
  </form>
  <br>
<% } %>
<h3> Comments </h3>
  <% game.comments.forEach(comment => { %>
    <p><%= comment.author.name %> says "<%= comment.commentText %>"" </p>
  <% }) %>
  <br>
  <% if (user) { %>
    <form action="/games/<%=game._id%>/comment/new" method="GET">
      <button class="btn btn-dark" type="submit">Add Comment</button>
    </form>
    <br>

  <% } %>
</main>

<%- include("../partials/footer")  %> 