<%- include("../partials/html-head")  %> 
<%- include("../partials/nav")  %> 

<main>
  <br>
  <div class="card text-center">
    <div class="card-body">
      <h2>Edit League</h2>
      <form action="/leagues/<%=league._id%>?_method=PUT" method="POST">
        <label>
          League Name
          <input type="text" name="name" value="<%=league.name%>">
        </label>
        <br>
        <br>
        <label>
          League Description
          <input type="text" name="description" value="<%= league.description%>">
        </label>
        <br>
        <button class="btn btn-dark" type="submit">Save</button>
      </form>
        <br>
        <br>
        <form action="/leagues/<%=league._id%>/edit/?_method=PUT" method="post">
          <label>
            Add Teams
            <select name="teams">
              <% teams.forEach(team => { %>
                <option value="<%=team._id%>"><%=team.name%></option>
              <% }) %>
            </select>
          </label>
          <br>
          <button class="btn btn-dark" type="submit">Add Team</button>
        </form>
        <h3>Teams in League</h3>
        <table>
          <thead>
            <tr>
              <th>Team Name</th>
              <th> Remove </th>
            </tr>
          </thead>
          <tbody>
            <% league.teams.forEach(team => { %>
              <tr>
                <td><a href="/teams/<%=team._id%>"><%=team.name%></a></td>
                <td>
                  <form action="/leagues/<%=league._id%>/<%=team._id%>/remove?_method=PATCH" method="POST">
                    <button type="submit"> X </button>
                  </form>
                </td>
              </tr>
            <% }) %>
          </tbody>
        </table>
        <br>
        <form action="/leagues/<%=league._id%>?_method=DELETE" method="POST">
          <button class="btn btn-danger" type="submit"> Delete League </button>
        </form>
    </div>
  </div>

  

</main>

<%- include("../partials/footer")  %> 