<%- include("../partials/html-head")  %> 
<%- include("../partials/nav")  %> 

<main>
  <form action="/leagues/<%=league._id%>/edit/?_method=PUT" method="post">
    <label>
      League Name
      <input type="text" name="name" value="<%=league.name%>">
    </label>
    <br>
    <br>
    <label>
      Add Teams
      <select name="teams">
        <% teams.forEach(team => { %>
          <option value="<%=team._id%>"><%=team.name%></option>
        <% }) %>
      </select>
    </label>
    <button type="submit">Add Team</button>
  </form>
  <h3>Teams in League</h3>
  <% league.teams.forEach(team => { %>
    <p><%= team.name %> </p>
  <% }) %>

</main>

<%- include("../partials/footer")  %> 