<%- include("../partials/html-head")  %> 
<%- include("../partials/nav")  %> 

<main>
  <h1>Leagues </h1>
  <% leagues.forEach(league => { %>
    <h2> <a href="/leagues/<%=league._id%>"><%= league.name %></a> </h2>
    <h4><%= league.description %></h4>
    <table>
      <thead>
        <tr>
          <th> Team </th>
          <th> Details</th>
        </tr>
      </thead>
      <tbody>
        <% league.teams.forEach(team => { %>
          <tr>
            <td> <%= team.name %> </td>
            <td> 
              <a href= <%=`/teams/${team._id}`%>>Info</a>  
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
    <br>
    <% if (user) { %>
      <% if (user.playerProfile._id.equals(league.coordinator._id)){ %>
        <p>You are coordinator of this league!</p>
      <% } %>
    <% } %>
  <% }) %>
<% if (user) { %>
  <br>
  <form action="/leagues/new" method="GET">
    <button class="btn btn-dark" type="submit"> Start a League </button>
  </form>
<% } %>

</main>

<%- include("../partials/footer")  %> 