<%- include("../partials/html-head")  %> 
<%- include("../partials/nav")  %> 

<main>
  <h1> <%= league.name %> </h1>
  <br>
  <h3> <%= league.description %> </h3>
  <br>
  <h2>Teams</h2>
  <% league.teams.forEach(team => { %>
    <p><%= team.name %> </p>
  <% }) %>
  <% if (user) { %>
    <% if (user.playerProfile._id.equals(league.coordinator._id)){ %>
      <form action="/leagues/<%=league._id%>/edit" method="GET">
        <button class="btn btn-light" type="submit"> Edit League </button>
      </form>
    <% } %>
  <% } %>
</main>

<%- include("../partials/footer")  %> 